
@font-face {
    font-family: "LincolnMITRE 5x7";
    src: url(../fonts/LincolnSlashMITRE/LincolnMITRE-LM5x7.woff2);
    font-display: swap;
}


@font-face {
    font-family: "Frasa Regular";
    src: url(../fonts/Frasa/Frasa-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: "Frasa Regular Italic";
    src: url(../fonts/Frasa/Frasa-Regular-Italic.woff2);
    font-display: swap;
}


