@import url("fonts.css");


/************************** GLOBAL *************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
}

html {
    scroll-snap-type: y proximity;
}

section {
    scroll-snap-align: start;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #1242FF;
}

body {
    background-color: rgba(233, 234, 235, 1);
    overflow-x: hidden;
}

header {
    position: relative;
    overflow-x: clip;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h4, h5, h6 {
    font-family: "LincolnMITRE 5x7", serif;
    font-weight: 500;
}

h4 { 
    font-size: 1.3rem;
}

h3,
p,
span,
li {
    font-family: "Frasa Regular Italic", serif;
    letter-spacing: 1px;
    font-size: 1.3rem
}

h3::first-letter,
p::first-letter,
span::first-letter,
li::first-letter {
    font-family: "Frasa Regular", serif;
    font-style: normal;
}

main, header, footer {
    padding: 2em 5em;
}

#work h2, 
#contact h2,
#about h2 {
    border-bottom: 2px black dotted;
    padding-bottom: 0.5em;
    font-size: 3rem;
}

#work,
#about {
    min-height: 100vh;
}
/*************************** NAV ****************************/

.top-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    padding-bottom: 7em;
}

.logo {
    font-size: 1.2rem;
}
.logo-container {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    width: fit-content;
}

.logo-container > *:nth-child(3) {
    padding-left: 0.5rem;
}

h3.logo-title-hidden {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    transition: max-width 0.5s ease-in-out;
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
}

.logo-title-hidden::first-letter {
    font-family: "Frasa Regular Italic", serif;
}

.logo:hover h3.logo-title-hidden {
    max-width: 300px;
}

.logo-title, .logo-title-hidden {
    margin: 0;
    line-height: 1.2;
}

.push-left {
    margin-left: auto;
}

.top-menu li a {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.top-menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #1242FF;;

    transition: width 0.3s ease-in-out;
}

.top-menu li a:hover::after {
    width: 100%;
}


/************************** TOP SECTION *****************************/

header {
    position: relative;
}

.lincoln-letter::first-letter {
    font-family: "LincolnMITRE 5x7", serif;
}

.top-container {
    display: flex;
    font-size: 2rem;
    align-items: flex-start;
    height: 70vh;
    padding-bottom: 5em;
    position: relative;
    gap: 5em
}
.logo-image {
    max-height: 40vh;
    max-width: 50%;
}

.hero-text-container {
    display: flex;
    padding-bottom: 0.5em;
    border-bottom: 2px dotted black;
}

.hero-text-container > *:nth-child(3) {
    padding-left: 1rem;
}


.hero-text h2, .hero-text h3 {
    display: inline;
    font-size: 10rem;
    font-weight: 500;
    background-color: transparent;
    margin: 0;
}

.hero-text p {
    padding-top: 0.5em;
    line-height: 1.2em;
    font-weight: 300;
    font-size: 2.5rem;
}

/******************************** WORK CONTENT *************************************/
.work-websites h2 {
    border-bottom: 1px black solid;
    padding-bottom: 1em;
    font-size: 3rem;
}

.websites-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    scroll-snap-align: center;
    padding-bottom: 2em;
}

.websites-content h3 {
    font-size: 1.5rem;
    padding: 0;
}

.project-num {
    display: inline;
}

.websites-text-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    padding: 3rem 0 1rem;
}
.websites-text-container span {
    font-size: 1.4rem;
}

.websites-text-container h3 {
    margin: 0;
}

.work-websites {
    padding-top: 2.5em;
}
.websites-image-container {
    display: flex;
    justify-content: center;
}

.websites-content img,
.websites-content video {
    border-radius: 15px;
    max-height: 80vh;
    max-width: 100vw;
}

.websites-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
}


.more-info-btn {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
}

/********************************** INFO PANEL **************************************/

.info-panel {
    max-height: 0;
    overflow: hidden;
    max-width: 90vw;
    padding-right: 1em;
    text-align: justify;
    transition: max-height 0.4s ease-in-out;
}

.open-panel {
    max-height: fit-content;
    font-size: 1.3rem;
}

/********************************** STACK MARQUEE ************************************/

.stack-panel {
    overflow: hidden;
    width: 100%;
    padding: 1em 0 1em 0;
}

.marquee {
    font-family: "LincolnMITRE 5x7", serif;
}
.marquee-track {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/******************************* BACKGROUND GRADIENT *********************************/

.gradient, .gradient-top {
    position: absolute;
    z-index: -99;
    top: 90px;
    left: 900px;
    width: 1000px;
    height: 800px;
    background-color: #1242FF;
    background: radial-gradient(ellipse, rgba(18, 66, 255, 0.4) 0%, rgba(233, 234, 235, 1) 60%);
}

.gradient-top {
    background-color: rgb(219 250 120);
    background: radial-gradient(ellipse, rgba(219, 250, 120, 0.8) 0%, rgba(233, 234, 235, 1) 60%);
    top: -70px;
    left: -200px;
    width: 500px;
    height: 300px;
}

/*************************** WORK *****************************/

.title-link:hover {
    color: #1242FF;
}

/***************************** ABOUT ****************************/

#about {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

.skills-marquee-container {
    overflow: hidden;
    width: 100%;
}

.skills {
    padding: 1em;
    animation: marquee 20s linear infinite;
}

.about-container {
    padding: 2em 0;
    display: flex;
    gap: 3em;
}

.about-content {
    line-height: 2em;
    flex-shrink: 5;
}

#identifier {
    font-size: 3rem;
}

#photo-me {
    max-width: 30%;
    max-height: fit-content;
    border-radius: 20px;
}

.about-container ul {
    list-style: none;
}
.about-container li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-container p {
    font-size: 1.2rem;
    text-align: justify;
}

.services-container {
    display: flex;
}

.about-container span {
    font-size: 2rem;
}

.label {
    position: relative;
    padding-bottom: 2px;
}

.label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.services-list li:hover .label::after {
    width: 100%;
}

.about-container li {
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 3rem;
}

/**************************** FORM *****************************/

.hidden {
    display: none;
}

.contact-container {
    padding-top: 2em;
    display: flex;
    gap: 5em;
}

.contact-text p {
    font-size: 1.5rem;
}

#smiley-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#smiley {
    font-family: "LincolnMITRE 5x7", serif;
    font-size: 5rem;
}
#smiley::first-letter {
    font-family: "LincolnMITRE 5x7",serif;
}

form p {
    padding: 1em 0 1em 0;
}

.form-row {
    display: flex;
    align-items: flex-end;
    gap: 1.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
}

.form-row label {
    min-width: 80px;
}

.single-input,
.double-input {
    height: 27px;
    width: 500px;
    border: none;
    background-color: inherit;
    padding: 1em;
}

.double-input {
    height: 200px;
}

.submit-btn,
.back-to-page {
    padding: 0.6em;
    border: none;
    border-radius: 20px;
    font-family: "LincolnMITRE 5x7", serif;
    font-size: 1.5rem;
    background-color: black;
    color: rgba(233, 234, 235, 1);
    cursor: pointer;
}

.submit-btn:hover,
.back-to-page:hover {
    background-color: #1242FF;
}

.btn-container {
    display: flex;
    justify-content: center;
}

/*************************** FOOTER ****************************/

#footer {
    border-top: 2px dotted black;
}

#copyright {
    margin-top: 1em;
    font-family: "Frasa Regular Italic", serif;
}

#footer-info {
    display: flex;
    justify-content: space-between;
}

#footer h3,
#footer h2,
#footer span {
    font-size: 1.2rem;
}

#footer h3 {
    padding-bottom: 1em;
    text-decoration: underline dotted;
}

#l-m {
    display: inline;
}

/*********************** SUCCESS PAGE **************************/

.thanks-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20em;
    gap: 1em;
}

/************************* RESPONSIVE **************************/

@media (max-width: 1200px) {
    html {
        scroll-snap-type: none;
    }

    .top-menu {
        font-size: 1.5rem;
        gap: 1em;
    }

    .top-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        height: auto;
        padding: 1em 0 0 0;
        gap: 1.6em;
        margin-bottom: 5em;
    }

    main,
    header,
    footer {
        padding: 2em;
    }

    .gradient {
        left: 0;
    }

    .logo:hover h3.logo-title-hidden {
        max-width: 0;
    }

    .websites-container {
        flex-direction: column;
        align-items: center;
    }

    .websites-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .websites-image-container {
        align-self: center;
        padding: 0 1em;
    }

    .websites-image-container video,
    .websites-image-container img {
        max-width: 90vw;
    }

    .about-container {
        flex-direction: column;
    }

    #photo-me {
        max-width: fit-content;
    }

    .contact-container {
        flex-direction: column;
    }

    #smiley {
        margin-bottom: 0;
    }
        #footer h3,
        #footer h2,
        #footer span {
            font-size: 1rem;
        }
        #footer-info {
            flex-direction: column;
            gap: 1em;
            text-align: center;
            margin-bottom: 2em;
        }
}

@media (max-width: 600px) {
    .hero-title.lincoln-letter {
        font-size: 3.2rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }

    .websites-text-container h3 {
        font-size: 1.3rem;
    }

    .websites-text-container span {
        font-size: 1rem;
    }

    .content-section h2 {
        font-size: 2rem;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .hero-title.lincoln-letter {
        font-size: 5rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "content content"
            "photo services";
        align-items: start;
    }

    .about-content {
        grid-area: content;
    }

    #photo-me {
        grid-area: photo;
        width: 100%;
        justify-self: center;
        max-width: 80%;
    }

    .services-container {
        grid-area: services;
    }
}